@import '../../style/style.scss';

.video {
    height: 787px;
    color: white;
    button {
        border: none;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }
    .title {
        display: flex;
        justify-content: space-between;
        padding: 56px 64px 25px 64px;
        color: white;
        .more_news {
            text-align: left;
            svg {
                margin-left: 16px;
            }
        }
    }
    &__news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        padding: 25px 64px 112px 64px;
        justify-content: center;
        &-items {
            display: grid;
            grid-template: repeat(2, 260px) / repeat(2, 304px);
            gap: 32px;
        }
        &-item {
                img {
                    width: 308px;
                    padding-bottom: 8px;
                }
                button {
                    svg {
                        height: 20px;
                        width: 20px;
                        opacity: .6;
                    }   
                    position: absolute;
                    padding-left: 8px;
                    padding-top: 143px;
                }
            }
        &-data {
            font-family: Severs-Regular;
        }
        &-content {
            padding-top: 8px;
            font-family: Severs-DemiBold;
        }
        &-main {
            img {
                padding-bottom: 32px;
                width: 100%;
            }
            .video__news {
                &-content {
                padding: 24px 0 35px 0;
                font-size: 32px;
            }
        }
            button {
                position: absolute;
                padding-left: 16px;
                padding-top: 298px;
                        svg {
                        height: 40px;
                        width: 40px;
                    }   
            }
        }
    }
    .fz12 {
        font-weight: 400;
        font-family: Severs-Regular;
    }
}