@import '../../style/style.scss';

.news {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: minmax(auto, 368px) minmax(auto, 976px);
    column-gap: 32px;
    justify-content: start;
    padding-top: 64px;
    padding-bottom: 32px;
    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        background-color: white;
        margin-left: 64px;
        padding: 16px 16px 24px 16px;
        &-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
        &-item {
            &-info {
                display: flex;
                align-items: center;
            }
            &-body {
                .title {
                    margin: 16px 0 12px 0;
                    font-family: Severs-DemiBold;
                }
            }
            img {
                padding-right: 16px;
            }
            &-profile {
                display: flex;
                flex-direction: column;
                .employment {
                    padding-top: 4px;
                    color: $grey;
                }
            }
        }
        &-title {
            
        }
        .load__more {
            width: 272px;
            height: 38px;
            border: 1px solid #979EA9;
            border-radius: 4px;
            background-color: white;
            margin-top: 72px;
            svg {
                margin-right: 8px;
            }
        }
    }
    &__politics {
        border-radius: 12px;
        background-color: white;
        padding: 24px 32px 32px;
        &-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
        &-body {
            display: grid;
            grid-template-columns: minmax(auto, 640px) minmax(auto, 240px);
            column-gap: 32px;
        }
        &-blocks {
            display: grid;
            grid-template-rows: 474px 280px;
            row-gap: 40px;
                .date {
                    padding: 16px 0 10px 0;
                }
        }
        &-block {
            &-else {
            display: grid;
            grid-template-columns: repeat(2, 304px);
            column-gap: 32px;
            .fz16 {
                font-weight: 600;
            }
            }
            img {
                width: 100%;
            }
            &-main {
                .fz24 {
                    font-weight: 600;
                    font-family: Severs-DemiBold;
                }
            }
        }
        &-items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title {
                margin-bottom: 32px;
            }
        }
        &-item {

        }
        .more_news {
            text-align: left;
            border: none;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            align-items: end;
            svg {
                margin-left: 16px;
            }
        }
    }
}