@import '../../style/style.scss';

.news {
    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        background-color: white;
        margin-left: 64px;
        padding: 16px 16px 24px 16px;
        &-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            align-items: center;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
        &-item {
            color: $dark_blue;
            &-info {
                display: flex;
                align-items: center;
            }
            &-body {
                .title {
                    margin: 16px 0 12px 0;
                    font-family: Severs-DemiBold;
                }
                .date {
                    margin: 12px 0 24px 0 !important;
                }
            }
            img {
                padding-right: 16px;
            }
            &-profile {
                display: flex;
                flex-direction: column;
                .employment {
                    padding-top: 4px;
                    color: $grey;
                }
            }
        }
        .load__more {
            width: auto;
            height: 38px;
            border: 1px solid #979EA9;
            border-radius: 4px;
            background-color: white;
            margin-top: 72px;
            svg {
                margin-right: 8px;
            }
        }
    }
    &__politics {
        border-radius: 12px;
        background-color: white;
        padding: 24px 32px 32px;
        grid-column-start: 2;
        &-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            align-items: center;
            a {
                color: $orange;
                font-weight: 600;
            }
        }
        &-body {
            display: grid;
            grid-template-columns: minmax(auto, 640px) minmax(auto, 240px);
            column-gap: 32px;
        }
        &-blocks {
            display: grid;
            grid-template-rows: 474px 280px;
            row-gap: 40px;
        }
        &-block {
            color: $dark_blue;
            &-else {
            display: grid;
            grid-template-columns: repeat(2, 304px);
            column-gap: 32px;
            .fz16 {
                font-weight: 600;
            }
            }
            img {
                width: 100%;
            }
            .news__politics-text{
                font-size: 16px;
                font-weight: 600;
                font-family: Severs-DemiBold;
            }
            &-main {
                margin-bottom: 40px;
                .news__politics-text{
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Severs-DemiBold;
                }
            }
        }
        &-items {
            display: flex;
            flex-direction: column;
            .title {
                margin-bottom: 32px;
            }
        }
        &-item {
            color: $dark_blue;
            span {
                color: $grey;
            }
        }
        .more_news {
            text-align: left;
            border: none;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            svg {
                margin-left: 16px;
            }
        }
    }
    &__promo {
        .date {
            margin-top: 0 !important;
        }
        grid-column-start: 2;
        border-radius: 12px;
        background-color: white;
        padding: 24px 32px 32px;
        margin-top: 24px;
        &-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            align-items: center;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
        &-body {
            display: grid;
            grid-template-columns: 272px 529px;
            column-gap: 32px;
            color: $dark_blue;
            &-head {
                display: flex;
            }
            .fz32 {
                font-weight: 600;
                font-family: Severs-DemiBold;
            }
            .tag {
                margin-bottom: 0;
                padding-left: 16px;
            }
        }
        &-list {
            display: grid;
            grid-template-columns: repeat(3, 304px);
            grid-template-rows: 105px;  
            column-gap: 24px;
            position: relative;
            align-items: center;
            margin-top: 24px;
            .gradient {
                position: absolute;
                z-index: 1;
                width: 105px;
                height: 165px;
                right: 0px;
                background: linear-gradient(180deg, #FFFFFF 34.24%, rgba(217, 217, 217, 0) 105.15%, rgba(255, 255, 255, 0) 105.15%);
                transform: rotate(90deg);
            }
            svg {
                position: absolute;
                right: 8px;
                z-index: 2;
                top: 50%;
                transform: translateY(-50%)
            }
        }
        &-block {
            padding: 18px 16px 16px;
            background: #F7F7F7;
            color: $dark_blue;
            border-radius: 8px;
            font-weight: 500;
        }
    }
    &__economics {
        grid-column-start: 2;
        border-radius: 12px;
        background-color: white;
        padding: 24px 32px 32px;
        margin-top: 24px;
        &-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            align-items: center;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
        &-body {
            display: grid;
            grid-template-columns: minmax(auto, 640px) minmax(auto, 240px);
            column-gap: 32px;
        }
        &-blocks {
            display: grid;
            grid-template-rows: 474px 280px;
            row-gap: 40px;
        }
        &-block {
            color: $dark_blue;
            &-else {
            display: grid;
            grid-template-columns: repeat(2, 304px);
            column-gap: 32px;
            .fz16 {
                font-weight: 600;
            }
            }
            img {
                width: 100%;
            }
            .news__economics-text{
                font-size: 16px;
                font-weight: 600;
                font-family: Severs-DemiBold;
            }
            &-main {
                margin-bottom: 40px;
                .news__economics-text{
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Severs-DemiBold;
                }
            }
        }
        &-items {
            display: flex;
            flex-direction: column;
            .title {
                margin-bottom: 32px;
            }
        }
        &-item {
            color: $dark_blue;
            span {
                color: $grey;
            }
        }
        .more_news {
            text-align: left;
            border: none;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            svg {
                margin-left: 16px;
            }
        }
    }
    &__lifestyle {
        grid-column-start: 2;
        border-radius: 12px;
        background-color: white;
        padding: 24px 32px 32px;
        margin-top: 24px;
        &-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            align-items: center;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
        &-body {
            display: grid;
            grid-template-columns: minmax(auto, 640px) minmax(auto, 240px);
            column-gap: 32px;
        }
        &-blocks {
            display: grid;
            grid-template-rows: 474px 280px;
            row-gap: 40px;
        }
        &-block {
            color: $dark_blue;
            &-else {
            display: grid;
            grid-template-columns: repeat(2, 304px);
            column-gap: 32px;
            .fz16 {
                font-weight: 600;
            }
            }
            img {
                width: 100%;
            }
            .news__lifestyle-text{
                font-size: 16px;
                font-weight: 600;
                font-family: Severs-DemiBold;
            }
            &-main {
                margin-bottom: 40px;
                .news__lifestyle-text{
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Severs-DemiBold;
                }
            }
        }
        &-items {
            display: flex;
            flex-direction: column;
            .title {
                margin-bottom: 32px;
            }
        }
        &-item {
            color: $dark_blue;
            span {
                color: $grey;
            }
        }
        .more_news {
            text-align: left;
            border: none;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            svg {
                margin-left: 16px;
            }
        }
    }
    .date {
        margin: 16px 0 10px 0;
    }
}