@import '../../style/style.scss';

.news {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: minmax(auto, 368px) minmax(auto, 976px);
    column-gap: 32px;
    justify-content: start;
    padding-top: 64px;
    padding-bottom: 32px;
    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        background-color: white;
        margin-left: 64px;
        padding: 16px 16px 24px 16px;
        &-item {
            &-info {
                display: flex;
                align-items: center;
            }
            &-body {
                .title {
                    margin: 16px 0 12px 0;
                    font-family: Severs-DemiBold;
                }
            }
            img {
                padding-right: 16px;
            }
            &-profile {
                display: flex;
                flex-direction: column;
                .employment {
                    padding-top: 4px;
                    color: $grey;
                }
            }
        }
        &-title {
            
        }
        .load__more {
            width: 272px;
            height: 38px;
            border: 1px solid #979EA9;
            border-radius: 4px;
            background-color: white;
            svg {
                margin-right: 8px;
            }
        }
    }
    &__politics {
        border-radius: 12px;
        background-color: white;
        &-head {
            display: flex;
            justify-content: space-between;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
        &-body {
            display: grid;
            grid-template-columns: minmax(auto, 640px) minmax(auto, 240px);
            row-gap: 32px;
        }
        &-blocks {
            display: grid;
            grid-template-rows: 474px 280px;
        }
        &-items {
        }
    }
}