@import '../../style/style.scss';

.news {
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: minmax(auto, 368px) minmax(auto, 976px);
    column-gap: 32px;
    padding-top: 64px;
    padding-bottom: 32px;
    &__all {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        background-color: white;
        height: 1455px;
        margin-left: 64px;
        padding: 16px 16px 24px 16px;
        .gradient {
                position: absolute;
                z-index: 1;
                width: 272px;
                height: 80px;
                bottom: 60px;
                background: linear-gradient(180deg, #FFFFFF 34.24%, rgba(217, 217, 217, 0) 105.15%, rgba(255, 255, 255, 0) 105.15%);
        }
        &-list {
            .sort {
                display: flex;
                margin: 32px 0;
                .active {
                    padding: 4px 8px;
                    color: $orange;
                    background-color: #FFEAE0;
                    border-radius: 4px;
                }
                li {
                    margin-right: 8px;
                    padding: 4px 8px;
                    color: $grey;
                }               
            }
        }
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color: $dark_blue;
                font-family: Severs-DemiBold;
                border-bottom: 1px solid $dark_blue;
            }
        }
        &-item {
            height: auto;
            span {
                font-weight: 400;
                color: $grey;
            }
        }
        .load__more {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 272px;
            height: 38px;
            border: 1px solid #979EA9;
            border-radius: 4px;
            background-color: white;
            svg {
                margin-right: 8px;
            }
        }
    }
    &__choice {
        &-items {
            display: grid;
            grid-template: repeat(2, minmax(max-content, auto)) / repeat(3, 304px);
            row-gap: 40px;
            column-gap: 32px;
            padding: 32px 0 56px 0;
        }
        &-item {
            img {
                width: 304px;
                height: 171px;
                padding-bottom: 16px;
            }
            .date {
                padding-bottom: 10px;
                color: $grey;
                font-weight: 400;
            }
            .content {
                color: $dark_blue;
            }
        }
    }
    &__regions {
        hr {
            margin: 16px 0;
        }
        display: grid;
        row-gap: 32px;
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                    color: $orange;
                    font-weight: 600;
            }
        }
    }
    &__cities {
        display: grid;
        grid-template-columns: repeat(3, 303px);
        column-gap: 32px;
        height: 691px;
    }
    &__city {
            border-radius: 12px;
            background-color: white;
            padding: 16px 16px 32px 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .more_news {
                text-align: left;
                border: none;
                color: inherit;
                background-color: transparent;
                cursor: pointer;
                svg {
                    margin-left: 16px;
                }
            }
        &-name {
            padding-bottom: 24px;
        }
        &-data {
            padding-bottom: 24px;
            .data {
                padding-bottom: 12px;
                color: $orange;
                font-weight: 400;
            }
            &-content {
                font-weight: 500;
                span {
                    color: $grey;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}
