@font-face {
    font-family: Severs-Bold;
    src: url('../resources/fonts/TTSevers-Bold.eot') format('embedded-opentype'),
        url('../resources/fonts/TTSevers-Bold.woff2') format('woff2'),
        url('../resources/fonts/TTSevers-Bold.woff') format('woff'),
        url('../resources/fonts/TTSevers-Bold.ttf') format('truetype')
}

@font-face {
    font-family: Severs-DemiBold;
    src: url('../resources/fonts/TTSevers-DemiBold.eot') format('embedded-opentype'),
        url('../resources/fonts/TTSevers-DemiBold.woff2') format('woff2'),
        url('../resources/fonts/TTSevers-DemiBold.woff') format('woff'),
        url('../resources/fonts/TTSevers-DemiBold.ttf') format('truetype')
}

@font-face {
    font-family: Severs-Medium;
    src: url('../resources/fonts/TTSevers-Medium.eot') format('embedded-opentype'),
        url('../resources/fonts/TTSevers-Medium.woff2') format('woff2'),
        url('../resources/fonts/TTSevers-Medium.woff') format('woff'),
        url('../resources/fonts/TTSevers-Medium.ttf') format('truetype')
}

@font-face {
    font-family: Severs-Regular;
    src: url('../resources/fonts/TTSevers-Regular.eot') format('embedded-opentype'),
        url('../resources/fonts/TTSevers-Regular.woff2') format('woff2'),
        url('../resources/fonts/TTSevers-Regular.woff') format('woff'),
        url('../resources/fonts/TTSevers-Regular.ttf') format('truetype')
}