@media (max-width: 2560px) {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1439px) {
    .news {
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 326px);
        &__all {
            .gradient  {
                display: none;
            }
            .load__more {
                width: auto;
                margin-top: 32px;
            }
        }
        &__choice {
            &-items {
                grid-template-columns: repeat(auto-fit, 326px);
            }
        }
        &__cities {
            overflow-y: hidden;
        }
        &__politics {
            &-blocks {
                display: none;
            }
            &-items {
                &-col {
                    .title {
                        display: none;
                    }
                }
            }
        }
        &__promo {
            .date {
                margin-top: 16px;
            }
            &-body {
                grid-template-columns: auto;
                .fz32 {
                    font-size: 22px;
                }
            }
            &-list {
                overflow-y: hidden;
                .gradient {
                    display: none;
                }
                svg {
                    display: none;
                }
            }
            &-block {
                width: 304px;
                height: 105px;
                padding: 16px;
                justify-content: flex-start;
            }
        }
        &__economics {
            &-blocks {
                display: none;
            }
            &-items {
                &-col {
                    .title {
                        display: none;
                    }
                }
            }
        }
        &__lifestyle {
            &-blocks {
                display: none;
            }
            &-items {
                &-col {
                    .title {
                        display: none;
                    }
                }
            }
        }
    }
    .video {
        background: #182840;
        height: 100%;
        &__news {
            padding: 56px 24px;
            grid-template-columns: repeat(auto-fit, 326px);
            &-main {
                .title_fz32 {
                    font-size: 16px;
                }
                .video__news {
                    &-content {
                    padding: 0;
                    line-height: 29px;
                    padding-top: 8px;
                    }
                    &-item {
                         button {
                        padding-left: 8px;
                        padding-top: 143px;
                            svg {
                            height: 20px;
                            width: 20px;
                            opacity: .6;
                        }
                }
                        img {
                            padding-bottom: 8px;
                            width: 326px;
                        }
                    }
                }
            }
            &-items {
                grid-template-columns: repeat(auto-fit, 326px);
            }
            &-item {
                img {
                    width: 326px;
                }
            }
            &-content {
                line-height: 29px;
                padding-top: 8px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .nav {
        &__cities {
            display:none;
        }
        &__panel {
            display: none;
            &-languages-media {
                display: flex;
            }
        }
        
        &__bottom {
            overflow-y: scroll;
        }
    }
    .carousel {
        &-control {
            &-next {
                display: none;
            }
            &-prev {
                display: none;
            }
        }
        .fz40 {
                font-size: 30px;
            }
        &-caption {
            top: 242px;
            height: 130px;
            text-align: left;
            width: 75%;
            p {
                margin: 0;
            }
        }
        &-indicators {
            margin-top: 24px;
            bottom: 25px;
        }
        &-inner {
            img {
                height: 500px;
                width: 100%;
            }
        }
    }
    .news {
        &__city {
            &-data {
                .data {
                    font-family: Severs-Medium;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 769px) {
    .nav {
        margin: 24px 24px;
        &__bottom {
            overflow-y: scroll;
            margin: 12px 24px;
            }
        }
    .statistics {
        &__day {
            padding: 0 24px;
            width: 138px;
        }
        .fz14 {
            font-size: 12px;
        }
    }
    .carousel {
        .fz40 {
            font-size: 24px;
            line-height: 28px;
        }
        &-caption {
            width: 75%;
            left: 24px;
            margin-bottom: 0px;
            height: 118px;
        }
        &-indicators {
            margin: 0 24px;
        }
    }
    .news {
        background-color: white;
        grid-template-columns: repeat(auto-fit, 375px);
        padding-top: 40px;
        justify-content: center;
        &__all {
            margin-left: 0;
            padding: 0;
            height: auto;
            &-list {
                padding: 0 24px;
            }
        }
        &__block {
            background: #F6F6F6;
            margin-top: 40px;
            padding-left: 24px;
        }
        &__choice {
            &-item {
                .fz16 {
                    font-size: 22px;
                }
                img {
                    width: 328px;
                    height: 184px;
                }
            }
        }
        &__regions {
            &-head {
                padding-right: 24px;
            }
            .sort {
                display: flex;
                margin: 0;
            }
        }
            &__col {
                border-radius: 0;
                background-color: #F6F6F6;
                display: flex;
                grid-column-start: 1;
                grid-column-end: 2;
                margin-left: 0;
                button {
                    display: none;
                }
            &-items {
                display: flex;
                flex-direction: row;
                overflow-y: hidden;
            }
            &-item {
                border-radius: 8px;
                background-color: white;
                padding: 16px;
                margin-right: 24px;
                width: 304px;
                height: 250px;
            }
        }
        &__politics {
            padding: 56px 24px;
            grid-column-start: 1;
            .title {
                font-size: 30px;
            }
            .sort {
                display: flex;
                margin: 0;
                margin-bottom: 32px;
            }
            &-body {
                display: block;
            }
        }
        &__promo {
            padding: 40px 24px;
            grid-column-start: 1;
            .title {
                font-size: 30px;
            }
        }
        &__economics {
            padding: 56px 24px;
            grid-column-start: 1;
            .title {
                font-size: 30px;
            }
            &-head {
                .title_fz32 {
                    font-size: 30px;
                }
            }
            &-body {
                display: block;
            }
            .sort {
                display: flex;
                margin: 0;
                margin-bottom: 32px;
            }
        }
        &__lifestyle {
            padding: 56px 24px;
            grid-column-start: 1;
            .title {
                font-size: 30px;
            }
            .sort {
                display: flex;
                margin: 0;
                margin-bottom: 32px;
            }
            &-body {
                display: block;
            }
        }
    }
    .video {
        .title {
            padding: 56px 23px 25px 23px;
            .more_news {
                color: $orange;
                svg {
                    display: none;
                }
            }
        }
        &__news {
            padding: 0 23px 25px 23px;
            }
        }
        .fz16 {
            font-size: 14px;
    }
    .footer {
        &__main {
                align-items: center;
                padding: 23px 24px 40px;
        }
        &__news {
            display: flex;
            flex-direction: column;
            hr {
                display: block;
            }
            .dropdown-content {
                display: none;
            }
            &-col {
                margin-bottom: 0;
            }
            &-group {
                &-title {
                    img {
                        display: block;
                    }
                }
            }
            &-group:hover .dropdown-content {
                display: block;
            }
        }
        &__social {
            &-title {
                font-size: 22px;
            }
            margin: 40px 23px;
            &-col {
                flex-wrap: wrap;
                &-first {
                    width: 50%;
                    a {
                        display: flex;
                        margin-bottom: 24px;
                    }
                }
                &-second {
                    width: 50%;
                    a {
                        display: flex;
                        margin-bottom: 24px;
                    }
                }
            }
            &-wrapper {
                margin-top: 24px;
            }
        }
        &__policy {
            hr{
                margin-top: 40px;
            }
            &-wrapper {
                display: flex;
                flex-direction: column;
                a {
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media (max-width: 376px) {
    .nav {
        margin: 16px 24px;
        &__hamburger {
            font-size: 14px;
            width: 93px;
            height: 32px;
            &-icon {
                &::before {
                    width: 15px;
                }
                &::after {
                    width: 11px;
                }
            }
        }
    }
    .carousel {
        height: 489px;
        .fz40 {
            font-size: 24px;
        }
        &-caption {
            left: 24px;
            width: 328px;
            height: 118px;
            text-align: left;
        }
        &-indicators {
            margin: 0 24px;
            margin-top: 24px;
        }
        &-inner {
            img {
                height: 489px;
            }
        }
    }
}