@media (max-width: 1400px) {
    .navbar__top {
        margin: 24px 24px;
        .menu_cities {
            display:none;
        }
        .nav_block {
            display: none;
        }
        .hide_show {
            display: flex;
            justify-content: flex-end;
            align-items:baseline;
            margin-left: auto;
        }
    }
    .navbar__bottom {
    overflow-y: scroll;
    margin: 12px 24px 16px;
    }
    .statistics_day {
    padding: 0 24px;
}
}