@media (max-width: 2560px) {
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1170px) {
    .nav {
        &__cities {
            display:none;
        }
        &__panel {
            display: none;
        }
        .active {
            display: flex;
            justify-content: flex-end;
            align-items:baseline;
            margin-left: auto;
        }
        &__bottom {
            overflow-y: scroll;
        }
    }
}

@media (max-width: 767px) {
    .nav {
        margin: 24px 24px;
        &__bottom {
            overflow-y: scroll;
            margin: 12px 24px 16px;
            }
        }
    .statistics {
        &__day {
            padding: 0 24px;
            width: 138px;
        }
        .fz14 {
            font-size: 12px;
        }
    }
}

@media (max-width: 374px) {
    .nav {
        margin: 16px 24px;
        &__hamburger {
            font-size: 14px;
            width: 93px;
            height: 32px;
            &-icon {
                &::before {
                    width: 15px;
                }
                &::after {
                    width: 11px;
                }
            }
        }
    }
}