@import './variables.scss';
@import './media.scss';
@import './fonts.scss';
@import './fontsSize.scss';

* {
    margin: 0;
    padding: 0;
}   

body {
    line-height:normal;
}

a {
    text-decoration: none;
}

hr {
    margin: 24px 0;
}

.date {
    font-family: Severs-Regular;
    font-size: 12px;
    color: $grey;
}

span {
    font-size: 14px;
}

.sort {
    display: none;
    margin: 32px 0;
    align-items: center;
    .active {
        padding: 4px 8px;
        color: $orange;
        background-color: #FFEAE0;
        border-radius: 4px;
    }
    li {
        margin-right: 8px;
        padding: 4px 8px;
        color: $grey;
    }               
}