@import './variables.scss';
@import './media.scss';
@import './fonts.scss';
@import './fontsSize.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

.container {
    --bs-gutter-x: 0;
    &-fluid {
        --bs-gutter-x: 0;
    }
}

body {
    line-height:normal;
}

a {
    text-decoration: none;
}

hr {
    margin: 24px 0;
}