@import '../../style/style.scss';

.carousel {
    &-slide {
        &-item {
            position: relative;
        }
        p {
            position: absolute;
            left: 64px; 
            padding-top: 0;
            padding-bottom: 0;
            width: 752px;
            font-family: Severs-Bold;
            font-weight: 700;
            text-align: left;
            color: white;
            top: 250px;
    }
    .slick {
        &-prev {
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 160px;
            left: 64px;
            top: auto;
            &-icon {
                width: 40px;
                height: 40px;
                background-image: url(../../resources/icons/slider-left-arrows.svg);
            }
        }
        &-next {
            position: absolute;
            z-index: 2;
            display: inline-block;
            bottom: 160px;
            left: 187px;
            top: auto;
            &-icon {
                width: 40px;
                height: 40px;
                background-image: url(../../resources/icons/slider-right-arrows.svg);
            }    
        }
    }    
}
    &-slick {
        &-slide {
            position: absolute;
            bottom: -310px;
            .slick-list {
                .slick-track {
                    .slick-slide {
                        position: relative;
                        background-clip: border-box;
                        background-color: rgba(255, 255, 255, 0.33);
                        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
                        width: 304px;
                        height: 60px;
                        border-radius: 12px;
                            img {
                                width: 100%;
                            }
                            p {
        
                            }
                    }
                    .slick-current {
                        opacity: 0.32;
                    }
                }
            }

        }
    }
}