@import '../../style/style.scss';

.carousel {
    &-slide {
        &-item {
            position: relative;
            img {
                width: 100%;
                object-fit: cover;
                height: 654px;
            }
            p {
                position: absolute;
                left: 64px; 
                width: 752px;
                font-family: Severs-Bold;
                font-weight: 700;
                text-align: left;
                color: white;
                top: 40%;
            }
        }
    .slick {
        &-prev {
            position: absolute;
            z-index: 2;
            bottom: 140px;
            left: 64px;
            top: auto;
            width: 40px;
            height: 40px;
            background-image: url(../../resources/icons/slider-left-arrows.svg);
        }
        &-next {
            position: absolute;
            z-index: 2;
            bottom: 140px;
            left: 187px;
            top: auto;
            width: 40px;
            height: 40px;
            background-image: url(../../resources/icons/slider-right-arrows.svg);
        }
    }
        .slick-prev:before {
            opacity: 0;
        }
        .slick-next:before {
            opacity: 0;
        }
    }
    &-slick {
        &-slide {
            position: absolute;
            top: 690px;
            width: 80%;
            button {
                display: block;
            }
            .slick-list {
                .slick-track {
                    left: 32px;
                    display: flex;
                    column-gap: 32px;
                    overflow-y: hidden;
                    .slick-slide {
                        width: 304px !important;
                        div {
                            width: 304px !important;
                            position: relative;
                            display: flex;
                            background-clip: border-box;
                            background-color: rgba(255, 255, 255, 0.16);
                            box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
                            height: 80px;
                            border-radius: 12px;
                            img {
                                display: inline-flex;
                                width: 64px;
                                height: 64px;
                                object-fit: cover;
                                padding: 8px;
                                border-radius: 12px;
                            }
                            p {
                                display: inline-flex;
                                color: white;
                                padding: 8px;
                                line-height: 20px;
                                align-items: center;
                            }
                        }
                    }
                    .slick-current {
                        background-color: rgba(255, 255, 255, 0.16);
                        border-radius: 12px;
                        width: 304px !important;
                    }
                }
            }
        }
    }
}

.slide {
    color: white;
    position: absolute;
    z-index: 2;
    margin-top: 472px;
    margin-left: 130px;
    top: auto;
}